<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pengjun.keepaccounts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:name="com.pengjun.ka.activity.KAApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/KATheme" >
        <activity
            android:name="com.pengjun.ka.activity.KAMainActivity"/>
        <activity 
            android:name="com.pengjun.ka.activity.AddArActivity"/>
         <activity 
            android:name="com.pengjun.ka.activity.ManageArTypeActivity"/>
          <activity 
            android:name="com.pengjun.ka.activity.AddArTypeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
         <activity
            android:name="com.pengjun.ka.activity.LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <!-- android:windowSoftInputMode="stateVisible|adjustPan" -->
    </application>

</manifest>